<div class="panel">


<h4 ><%= link_to wiki_page.title , wiki_page_path(wiki_page.id)%>  <small>last edited by <%= wiki_page.author %></small> </h4> <br>


  <div><%= markdown(wiki_link(truncate_html(wiki_page.content,:length => 40))) %></div>
  </div>

