/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require jquery-ui.structure
 *= require jquery-ui.theme
 *= require jquery.ui.timepicker
 *= require foundation_and_overrides
 *= require_tree .
 */

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   
} 



#footer>p  {

	text-align: center;
	margin:10px;
	color:white;
} 


.scroll-table {
    table-layout: fixed;
    width:100%
}

.scroll-table tbody {
	
    display: block;
    overflow-x: auto;
}

.pagination-table {
margin-bottom:0px 
}

@import 'jquery.countdown';
