/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require jquery-ui.structure
 *= require jquery-ui.theme
 *= require jquery.ui.timepicker
 *= require gritter
 *= require foundation_and_overrides
 *= require_tree .
 */

//colors
$color_tuatara_approx: #363636;
$white: #fff;

//@extend-elements
//original selectors
//html, body
%extend_1 {
  margin: 0;
  padding: 0;
  height: 100%;
}


html {
  @extend %extend_1;
}
body {
  @extend %extend_1;
}
#wrapper {
  position: relative;
}
#content {
  padding-bottom: 200px;
}
#footer {
  width: 100%;
  height: 200px;
  position: absolute;
  background-color: $color_tuatara_approx;
  color: $white;
}

.scroll-table {
    table-layout: fixed;
    width:100%
}

.scroll-table tbody {
	
    display: block;
    overflow-x: auto;
}

.pagination-table {
margin-bottom:0px 
}

.top-bar {
  background: #363636 !important
}

.top-bar-section li a:not(.button) {
  background: #363636 !important
}

.cleaner
{
padding: 15px
}
.width-cleaner
{
}

.spacer
{
  margin-bottom:30px;

}

.title-spacer
{
  height: 15px;
}

.form-error-spacer
{
  margin-left: 16px;
}

.small-heading
{
  margin-bottom: 17px
}


.anchorfix
{
  height: 45px
}


.inline-list-center ul {
 list-style-type:none;
}

.inline-list-center li {
 display: inline;
 padding: 10px
}

.footerbg
{
  background: #363636
}

@import "font-awesome";
@import 'jquery.countdown';

