/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require jquery-ui.structure
 *= require jquery-ui.theme
 *= require jquery.ui.timepicker
 *= require foundation_and_overrides
 *= require_tree .
 */

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:auto;
   width:100%;
   background-color: #363636;
   color: #fff
   
} 





.scroll-table {
    table-layout: fixed;
    width:100%
}

.scroll-table tbody {
	
    display: block;
    overflow-x: auto;
}

.pagination-table {
margin-bottom:0px 
}

.cleaner
{
margin: 10px
}
.width-cleaner
{
}

.spacer
{
  margin-top:25%;
}

.title-spacer
{
  height: 15px;
}

.form-error-spacer
{
  margin-left: 16px;
}

.small-heading
{
  margin-bottom: 17px
}


.anchorfix
{
  height: 45px
}

.horispace
{
  margin-left: 44%
}

@import 'jquery.countdown';

